<!doctype html>
<html lang="en">
  	<head>
  		<title>Shitsulab | Error</title>
		<%- include ('../shared/header') -%>
		<%- include ('../shared/cssimport') -%>
	</head>
	<body>
		<%- include ('../shared/navbar') -%>
		<div class="flex-container">
            <div class="center">
				<img src="/assets/images/face-3.png">
                <h4>
                    <%= message %>
                </h4>
            </div>
		</div>
		<%- include ('../shared/jsimport') -%>
		<%- include ('../shared/footer') -%>
	</body>
</html>