<!doctype html>
<html lang="en">
  	<head>
  		<title>Shitsulab</title>
		<%- include ('../shared/header') -%>
		<%- include ('../shared/cssimport') -%>
	</head>
	<body>
		<%- include ('../shared/navbar') -%>
		<div class="flex-container">
            <div class="center">
				<div>
					<img src="/assets/images/smug.png">
				</div>
				<div class="txt-at-center">
					Think of any character !
				</div>
				<a href="/play">
					<button class="btn-large btn-color-primary">
						START
					</button>
				</a>
            </div>
		</div>
		<%- include ('../shared/jsimport') -%>
		<%- include ('../shared/footer') -%>
	</body>
</html>